[submodule "Libs/Cyphal"]
	path = Libs/Cyphal
	url = git@github.com:RaccoonlabDev/libcanard_stm32_cyphal.git
[submodule "Libs/libparams"]
	path = Libs/libparams
	url = git@github.com:PonomarevDA/libparams.git
[submodule "scripts/tools"]
	path = scripts/tools
	url = git@github.com:PonomarevDA/tools.git
[submodule "Libs/stm32-cube-project"]
	path = Libs/stm32-cube-project
	url = https://github.com/RaccoonLabHardware/mini-v2-software.git
