[submodule "Libs/Cyphal"]
	path = Libs/Cyphal
	url = git@github.com:RaccoonlabDev/libcanard_stm32_cyphal.git
[submodule "Libs/libparams"]
	path = Libs/libparams
	url = git@github.com:PonomarevDA/libparams.git
[submodule "Libs/libsqcan"]
	path = Libs/libsqcan
	url = git@github.com:RaccoonlabDev/libsqcan.git
[submodule "Libs/mini_v2_stm32cubemx_project"]
	path = Libs/mini_v2_stm32cubemx_project
	url = https://github.com/RaccoonLabHardware/mini_v2_stm32cubemx_project.git
[submodule "scripts/tools"]
	path = scripts/tools
	url = git@github.com:PonomarevDA/tools.git
