name: build

on: [push]
jobs:
  build:
    strategy:
      matrix:
        target: [cyphal, dronecan]
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
        with:
          path: 'repository'
          token: ${{ secrets.ACCESS_TOKEN }}
          submodules: recursive
          fetch-depth: 0

      - name: Install dependencies
        run: |
          ./repository/scripts/ubuntu.sh

      - run: cd repository && make generate_dsdl
      - run: cd repository && make ${{ matrix.target }}
