name: build_and_deploy
on: push

jobs:
  build_and_deploy:
    strategy:
      matrix:
        include:
          - runner: ubuntu-24.04
            image: "" # Let's use a GitHub-hosted virtual machine itself
          # - runner: windows-2022
          #   image: ""  # Containers on Windows runners are not supported
    timeout-minutes: 10
    runs-on: ${{ matrix.runner }}
    container:
      image: ${{ matrix.image }}

    # GitHub Actions does not allow the secrets context inside if expression
    # So, let's copy the secret into env
    env:
      LIBCPNODE_DEPLOY_KEY: ${{ secrets.LIBCPNODE_DEPLOY_KEY }}

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Install dependencies (Ubuntu & Manjaro & Windows)
        run: |
          pip install -r requirements-cyphal.txt
          python scripts/install.py
        shell: bash

      - name: Setup SSH
        if: ${{ matrix.runner == 'ubuntu-24.04' && env.LIBCPNODE_DEPLOY_KEY != '' }}
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: |
            ${{ secrets.LIBCPNODE_DEPLOY_KEY }}

      - name: Set build target
        shell: bash
        run: |
          if [[ "${{ matrix.runner }}" == "ubuntu-24.04" && -n "${{ secrets.LIBCPNODE_DEPLOY_KEY }}" ]]; then
            echo "BUILD_TARGET=all" >> "$GITHUB_ENV"
          else
            echo "BUILD_TARGET=dronecan_v2 dronecan_v3" >> "$GITHUB_ENV"
          fi

      - name: Build
        shell: bash
        run: make $BUILD_TARGET

      - name: Deploy binaries to Telegram
        if: >
          matrix.runner == 'ubuntu-24.04' &&
          github.ref_name == github.event.repository.default_branch &&
          github.repository == 'RaccoonlabDev/mini_v2_node'
        uses: PonomarevDA/telegram-upload@v1
        with:
          bot_token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          chat_id: ${{ secrets.TELEGRAM_CHAT_ID }}
          files: build/release/*.bin
          message: "Node"
          add_git_info: "true"
