name: dronecan_sitl
on: push

jobs:
  sitl:
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
          - os: ubuntu-22.04
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          sudo apt-get install -y gcc-arm-none-eabi linux-modules-extra-$(uname -r)
          sudo apt-get install -y libfftw3-dev

      - name: Build SITL DroneCAN
        run: make sitl_dronecan

      - name: Run SITL for 5 seconds
        run: timeout 5s make run || res=$?; if [[ $res -ne 124 && $res -ne 0 ]]; then exit $res; fi