name: tests
on: push

jobs:
  tests:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Install gtest
        run: |
          sudo apt install googletest libgtest-dev libgmock-dev

      - name: Install arm compiler
        run: |
          sudo apt-get install -y make gcc-arm-none-eabi

      - name: Install fftw3
        run: |
          sudo apt-get install -y libfftw3-dev

      - name: Build and run tests
        run: make tests
